.layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
    margin: 0 1rem;
}

.submitBtn button{
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-image: radial-gradient(circle, #523d56, #906a95);
    font-weight: 600;
}

.masterBtns{
    display: flex;
}