h2{
    font-size: clamp(1rem, 1.75vw, 3rem);
    font-family: 'Courier New', Courier, monospace;
    color:var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.input-group{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 1rem;
    justify-content: flex-start;
    margin-left: 1rem;
    border: 2px solid green;
}

.label-group{
    display: flex;
    gap: 1rem;
}

label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

input{
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px grey;
    margin: .25rem;
}

input[type="text"], input[type="tel"], input[type="email"]{
    padding: .5rem;
    color: var(--text-color-accent);
    background-color: rgba(245, 245, 245, 0.762);
    font-style: italic;
}