h2{
    font-size: clamp(1rem, 1.75vw, 3rem);
    font-family: 'Courier New', Courier, monospace;
    color:var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.personal-container{
    box-shadow: 2px 2px 4px grey;
    border-radius: 8px;
    background-color: #906a95;
    margin-left: 1.5rem;
}


.label-group{
    display: flex;
    gap: 1rem;
}

label{
    font-family: var(--font-family);
    color: white;
}

input{
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px grey;
    margin: .25rem;
}

input[type="text"], input[type="tel"], input[type="email"]{
    padding: .5rem;
    color: var(--text-color-accent);
    background-color: rgba(245, 245, 245, 0.762);
    font-style: italic;
}