h2{
    font-size: clamp(1rem, 1.75vw, 3rem);
    color:var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.personal-container{
    border: 5px groove #906a95cd;
    box-shadow: 2px 2px 4px grey;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.label-group{
    display: flex;
    gap: 1rem;
}

label{
    color: white;
}

input{
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px grey;
    margin: .25rem;
}

input[type="text"], input[type="tel"], input[type="email"]{
    padding: .5rem;
    color: var(--text-color-accent);
    background-color: rgba(245, 245, 245, 0.762);
    font-style: italic;
}