.workContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.workCard{
    border: 5px groove #906a95cd;
    box-shadow: 1px 1px 2px grey;
    border-radius: 4px;
    background-color: var(--accent-color);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}