.btn{
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: 1rem;
    background-color: #40534C;
    transition: transform 300ms ease;
    color: white;
    box-shadow: 2px 2px 4px grey;
    cursor: pointer;
}

.btn:focus-visible, .btn:hover {
    box-shadow: 2px 2px 4px white;
    transform: translateY(-5px);
}