:root {
  --text-color: #000;
  --text-color-accent: #ac39ac;
  --button-color: #40534C;
  --background-color: white;
  --dark-accent-color: #0071E3;
  --font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h2{
  margin: 1rem;
  font-size: clamp(1rem, 1.75vw, 3rem);
  font-family: 'Courier New', Courier, monospace;
  color:var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
