:root {
  --text-color: #000;
  --text-color-accent: #ac39ac;
  --button-color: #40534C;
  --background-color: #f5f5f5d1;
  --accent-color: #906a95;

}

*{
  box-sizing: border-box;
  font-family: 'Quicksand', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgba(77, 75, 75, 0.905);
}

body{
  background-color: var(--background-color);
}

h1, h2, h3 {
  font-family: 'Domine', Courier, monospace;
  letter-spacing: 1.5px;
}

h3{
  color: rgba(77, 75, 75, 0.905);
}

.workCard:hover, .edCard:hover, .personal-container:hover{
    transform: translateY(-2px);
}

