.input-group{
    border-radius: 8px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: clamp(1rem, 1.5rem, 2rem);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    gap: 1rem;
    justify-content: flex-start;
    margin-left: 1.5rem;
}


input:focus-visible{
    outline: 3.5px dashed #40534C;
}

input[type="text"], input[type="tel"], input[type="email"]{
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 4px grey;
    margin: .25rem;
    background-color: white;
}

.label-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.label-group label{
    font-size: 1.25rem;
}